select   NumericCode DeviceID, EmployeeId, EmployeeName from Employees where  not EmployeeName like 'del%' 


with data1 as (
	select UserID, CONVERT(varchar,LogDate,4) logDate  , CONVERT(varchar,LogDate,8) logTime from DeviceLogs_6_2022 
	)
Select UserID, logDate, Min(logTime) inTime, Max(logTime) outTime from data1 group by UserID, logDate order by 1,2, 3

select distinct UserID from DeviceLogs_6_2022 

SELECT        E.EmployeeCode
FROM            Employees AS E LEFT OUTER JOIN
                         DeviceLogs_5_2022 AS l ON l.UserId = E.EmployeeCode
WHERE        (NOT (E.EmployeeCode LIKE '%del%')) and l.UserId is null


Select EmployeeName, Designation, AadhaarNumber as HRNO from Employees where not EmployeeCodeInDevice = 0 order by AadhaarNumber


SELECT  EmployeeId, EmployeeName, Designation, FatherName, LoginName, LoginPassword, AadhaarNumber, NumericCode
FROM            Employees
WHERE Designation='CAO'
order by NumericCode





/*
UPDATE Employees set Designation ='AGM' where EmployeeCode='1'

UPDATE Employees set Designation ='AGM' where EmployeeCode='1'
UPDATE Employees set Designation ='SDE' where EmployeeCode='2'
UPDATE Employees set Designation ='OS' where EmployeeCode='3'
UPDATE Employees set Designation ='AOS' where EmployeeCode='4'
UPDATE Employees set Designation ='JTO' where EmployeeCode='5'
UPDATE Employees set Designation ='ATT' where EmployeeCode='6'
UPDATE Employees set Designation ='JAO' where EmployeeCode='7'
UPDATE Employees set Designation ='SDE' where EmployeeCode='8'
UPDATE Employees set Designation ='JAO' where EmployeeCode='9'
UPDATE Employees set Designation ='JAO' where EmployeeCode='10'
UPDATE Employees set Designation ='AO' where EmployeeCode='11'
UPDATE Employees set Designation ='SDE' where EmployeeCode='12'
UPDATE Employees set Designation ='ATT' where EmployeeCode='13'
UPDATE Employees set Designation ='JAO' where EmployeeCode='14'
UPDATE Employees set Designation ='DGM' where EmployeeCode='15'
UPDATE Employees set Designation ='JAO' where EmployeeCode='16'
UPDATE Employees set Designation ='AO' where EmployeeCode='17'
UPDATE Employees set Designation ='AO' where EmployeeCode='18'
UPDATE Employees set Designation ='AGM' where EmployeeCode='19'
UPDATE Employees set Designation ='JTO' where EmployeeCode='20'
UPDATE Employees set Designation ='JE' where EmployeeCode='21'
UPDATE Employees set Designation ='SDE' where EmployeeCode='22'
UPDATE Employees set Designation ='ATT' where EmployeeCode='23'
UPDATE Employees set Designation ='SDE' where EmployeeCode='24'
UPDATE Employees set Designation ='SDE' where EmployeeCode='25'
UPDATE Employees set Designation ='AGM' where EmployeeCode='26'
UPDATE Employees set Designation ='JTO' where EmployeeCode='27'
UPDATE Employees set Designation ='OS' where EmployeeCode='28'
UPDATE Employees set Designation ='SDE' where EmployeeCode='29'
UPDATE Employees set Designation ='SDE' where EmployeeCode='30'
UPDATE Employees set Designation ='ATT' where EmployeeCode='31'
UPDATE Employees set Designation ='ATT' where EmployeeCode='32'
UPDATE Employees set Designation ='SDE' where EmployeeCode='33'
UPDATE Employees set Designation ='ATT' where EmployeeCode='34'
UPDATE Employees set Designation ='SDE' where EmployeeCode='35'
UPDATE Employees set Designation ='JTO' where EmployeeCode='36'
UPDATE Employees set Designation ='ATT' where EmployeeCode='37'
UPDATE Employees set Designation ='PS' where EmployeeCode='38'
UPDATE Employees set Designation ='CAO' where EmployeeCode='39'
UPDATE Employees set Designation ='TT' where EmployeeCode='40'
UPDATE Employees set Designation ='AGM' where EmployeeCode='41'
UPDATE Employees set Designation ='AGM' where EmployeeCode='42'
UPDATE Employees set Designation ='SDE' where EmployeeCode='43'
UPDATE Employees set Designation ='JAO' where EmployeeCode='44'
UPDATE Employees set Designation ='AOS' where EmployeeCode='45'
UPDATE Employees set Designation ='AOS' where EmployeeCode='46'
UPDATE Employees set Designation ='AO' where EmployeeCode='47'
UPDATE Employees set Designation ='AO' where EmployeeCode='48'
UPDATE Employees set Designation ='JAO' where EmployeeCode='49'
UPDATE Employees set Designation ='JAO' where EmployeeCode='50'
UPDATE Employees set Designation ='OS' where EmployeeCode='51'
UPDATE Employees set Designation ='JAO' where EmployeeCode='52'
UPDATE Employees set Designation ='JAO' where EmployeeCode='53'
UPDATE Employees set Designation ='JAO' where EmployeeCode='54'
UPDATE Employees set Designation ='AO' where EmployeeCode='55'
UPDATE Employees set Designation ='AO' where EmployeeCode='56'
UPDATE Employees set Designation ='JAO' where EmployeeCode='57'
UPDATE Employees set Designation ='Accountant' where EmployeeCode='58'
UPDATE Employees set Designation ='OS' where EmployeeCode='59'
UPDATE Employees set Designation ='OS' where EmployeeCode='60'
UPDATE Employees set Designation ='ATT' where EmployeeCode='61'
UPDATE Employees set Designation ='AOS' where EmployeeCode='62'
UPDATE Employees set Designation ='SDE' where EmployeeCode='63'
UPDATE Employees set Designation ='ATT' where EmployeeCode='64'
UPDATE Employees set Designation ='PGMT' where EmployeeCode='65'
UPDATE Employees set Designation ='SDE' where EmployeeCode='66'
UPDATE Employees set Designation ='SDE' where EmployeeCode='67'
UPDATE Employees set Designation ='SDE' where EmployeeCode='68'
UPDATE Employees set Designation ='AOS' where EmployeeCode='69'
UPDATE Employees set Designation ='ATT' where EmployeeCode='70'
UPDATE Employees set Designation ='ATT' where EmployeeCode='71'
UPDATE Employees set Designation ='SPORTS ASST.' where EmployeeCode='72'
UPDATE Employees set Designation ='JE' where EmployeeCode='73'
UPDATE Employees set Designation ='JTO' where EmployeeCode='74'
UPDATE Employees set Designation ='ATT' where EmployeeCode='75'
UPDATE Employees set Designation ='ATT' where EmployeeCode='76'
UPDATE Employees set Designation ='DGM' where EmployeeCode='77'
UPDATE Employees set Designation ='Driver' where EmployeeCode='78'
UPDATE Employees set Designation ='ATT' where EmployeeCode='79'
UPDATE Employees set Designation ='OS' where EmployeeCode='80'
UPDATE Employees set Designation ='SDE' where EmployeeCode='81'
UPDATE Employees set Designation ='ATT' where EmployeeCode='82'
UPDATE Employees set Designation ='AO' where EmployeeCode='83'
UPDATE Employees set Designation ='AO' where EmployeeCode='84'
UPDATE Employees set Designation ='JAO' where EmployeeCode='85'
UPDATE Employees set Designation ='CAO' where EmployeeCode='86'
UPDATE Employees set Designation ='ATT' where EmployeeCode='87'
UPDATE Employees set Designation ='JE' where EmployeeCode='88'
UPDATE Employees set Designation ='JTO' where EmployeeCode='89'

UPDATE Employees set Designation ='SDE' where EmployeeCode='91'
UPDATE Employees set Designation ='OS' where EmployeeCode='92'
UPDATE Employees set Designation ='JAO' where EmployeeCode='93'
UPDATE Employees set Designation ='JAO' where EmployeeCode='94'
UPDATE Employees set Designation ='AOS' where EmployeeCode='95'
UPDATE Employees set Designation ='SDE' where EmployeeCode='96'
UPDATE Employees set Designation ='JTO' where EmployeeCode='97'
UPDATE Employees set Designation ='AOS' where EmployeeCode='98'

UPDATE Employees set Designation ='JE' where EmployeeCode='101'






UPDATE Employees set AadhaarNumber ='199702952' where EmployeeCode='1'
UPDATE Employees set AadhaarNumber ='200200890' where EmployeeCode='2'
UPDATE Employees set AadhaarNumber ='199000402' where EmployeeCode='3'
UPDATE Employees set AadhaarNumber ='199900239' where EmployeeCode='4'
UPDATE Employees set AadhaarNumber ='201002431' where EmployeeCode='5'
UPDATE Employees set AadhaarNumber ='200900854' where EmployeeCode='6'
UPDATE Employees set AadhaarNumber ='199301240' where EmployeeCode='7'
UPDATE Employees set AadhaarNumber ='200202724' where EmployeeCode='8'
UPDATE Employees set AadhaarNumber ='199900194' where EmployeeCode='9'
UPDATE Employees set AadhaarNumber ='200905252' where EmployeeCode='10'
UPDATE Employees set AadhaarNumber ='201100228' where EmployeeCode='11'
UPDATE Employees set AadhaarNumber ='200200484' where EmployeeCode='12'
UPDATE Employees set AadhaarNumber ='200300589' where EmployeeCode='13'
UPDATE Employees set AadhaarNumber ='160120006' where EmployeeCode='14'
UPDATE Employees set AadhaarNumber ='199100351' where EmployeeCode='15'
UPDATE Employees set AadhaarNumber ='199900228' where EmployeeCode='16'
UPDATE Employees set AadhaarNumber ='198901660' where EmployeeCode='17'
UPDATE Employees set AadhaarNumber ='200400927' where EmployeeCode='18'
UPDATE Employees set AadhaarNumber ='198602125' where EmployeeCode='19'
UPDATE Employees set AadhaarNumber ='200801434' where EmployeeCode='20'
UPDATE Employees set AadhaarNumber ='200100273' where EmployeeCode='21'
UPDATE Employees set AadhaarNumber ='200701133' where EmployeeCode='22'
UPDATE Employees set AadhaarNumber ='201300340' where EmployeeCode='23'
UPDATE Employees set AadhaarNumber ='200902411' where EmployeeCode='24'
UPDATE Employees set AadhaarNumber ='200302979' where EmployeeCode='25'
UPDATE Employees set AadhaarNumber ='199100350' where EmployeeCode='26'
UPDATE Employees set AadhaarNumber ='200803649' where EmployeeCode='27'
UPDATE Employees set AadhaarNumber ='199900315' where EmployeeCode='28'
UPDATE Employees set AadhaarNumber ='200201626' where EmployeeCode='29'
UPDATE Employees set AadhaarNumber ='200600719' where EmployeeCode='30'
UPDATE Employees set AadhaarNumber ='200000364' where EmployeeCode='31'
UPDATE Employees set AadhaarNumber ='201200168' where EmployeeCode='32'
UPDATE Employees set AadhaarNumber ='200905078' where EmployeeCode='33'
UPDATE Employees set AadhaarNumber ='201000538' where EmployeeCode='34'
UPDATE Employees set AadhaarNumber ='200702190' where EmployeeCode='35'
UPDATE Employees set AadhaarNumber ='200803484' where EmployeeCode='36'
UPDATE Employees set AadhaarNumber ='200200829' where EmployeeCode='37'
UPDATE Employees set AadhaarNumber ='199100473' where EmployeeCode='38'
UPDATE Employees set AadhaarNumber ='199315884' where EmployeeCode='39'
UPDATE Employees set AadhaarNumber ='200400525' where EmployeeCode='40'
UPDATE Employees set AadhaarNumber ='199305983' where EmployeeCode='41'
UPDATE Employees set AadhaarNumber ='199312156' where EmployeeCode='42'
UPDATE Employees set AadhaarNumber ='200303078' where EmployeeCode='43'
UPDATE Employees set AadhaarNumber ='199800784' where EmployeeCode='44'
UPDATE Employees set AadhaarNumber ='200600332' where EmployeeCode='45'
UPDATE Employees set AadhaarNumber ='199313927' where EmployeeCode='46'
UPDATE Employees set AadhaarNumber ='201003520' where EmployeeCode='47'
UPDATE Employees set AadhaarNumber ='200000574' where EmployeeCode='48'
UPDATE Employees set AadhaarNumber ='201900071' where EmployeeCode='49'
UPDATE Employees set AadhaarNumber ='199600278' where EmployeeCode='50'
UPDATE Employees set AadhaarNumber ='199308594' where EmployeeCode='51'
UPDATE Employees set AadhaarNumber ='198700572' where EmployeeCode='52'
UPDATE Employees set AadhaarNumber ='160032802' where EmployeeCode='53'
UPDATE Employees set AadhaarNumber ='200905306' where EmployeeCode='54'
UPDATE Employees set AadhaarNumber ='201003538' where EmployeeCode='55'
UPDATE Employees set AadhaarNumber ='201003568' where EmployeeCode='56'
UPDATE Employees set AadhaarNumber ='160038602' where EmployeeCode='57'
UPDATE Employees set AadhaarNumber ='199401245' where EmployeeCode='58'
UPDATE Employees set AadhaarNumber ='199900193' where EmployeeCode='59'
UPDATE Employees set AadhaarNumber ='199004175' where EmployeeCode='60'
UPDATE Employees set AadhaarNumber ='200400707' where EmployeeCode='61'
UPDATE Employees set AadhaarNumber ='199201263' where EmployeeCode='62'
UPDATE Employees set AadhaarNumber ='200203654' where EmployeeCode='63'
UPDATE Employees set AadhaarNumber ='200200636' where EmployeeCode='64'
UPDATE Employees set AadhaarNumber ='199100039' where EmployeeCode='65'
UPDATE Employees set AadhaarNumber ='200700072' where EmployeeCode='66'
UPDATE Employees set AadhaarNumber ='200300344' where EmployeeCode='67'
UPDATE Employees set AadhaarNumber ='199700473' where EmployeeCode='68'
UPDATE Employees set AadhaarNumber ='200600331' where EmployeeCode='69'
UPDATE Employees set AadhaarNumber ='200904541' where EmployeeCode='70'
UPDATE Employees set AadhaarNumber ='200500324' where EmployeeCode='71'
UPDATE Employees set AadhaarNumber ='200702184' where EmployeeCode='72'
UPDATE Employees set AadhaarNumber ='200000357' where EmployeeCode='73'
UPDATE Employees set AadhaarNumber ='200100121' where EmployeeCode='74'
UPDATE Employees set AadhaarNumber ='200000281' where EmployeeCode='75'
UPDATE Employees set AadhaarNumber ='160038601' where EmployeeCode='76'
UPDATE Employees set AadhaarNumber ='199003375' where EmployeeCode='77'
UPDATE Employees set AadhaarNumber ='199303900' where EmployeeCode='78'
UPDATE Employees set AadhaarNumber ='201100367' where EmployeeCode='79'
UPDATE Employees set AadhaarNumber ='201002007' where EmployeeCode='80'
UPDATE Employees set AadhaarNumber ='200300656' where EmployeeCode='81'
UPDATE Employees set AadhaarNumber ='200904540' where EmployeeCode='82'
UPDATE Employees set AadhaarNumber ='199600947' where EmployeeCode='83'
UPDATE Employees set AadhaarNumber ='200002177' where EmployeeCode='84'
UPDATE Employees set AadhaarNumber ='198900999' where EmployeeCode='85'
UPDATE Employees set AadhaarNumber ='200401039' where EmployeeCode='86'
UPDATE Employees set AadhaarNumber ='200100180' where EmployeeCode='87'
UPDATE Employees set AadhaarNumber ='199500520' where EmployeeCode='88'
UPDATE Employees set AadhaarNumber ='201003379' where EmployeeCode='89'

UPDATE Employees set AadhaarNumber ='198900855' where EmployeeCode='91'
UPDATE Employees set AadhaarNumber ='199800574' where EmployeeCode='92'
UPDATE Employees set AadhaarNumber ='201100127' where EmployeeCode='93'
UPDATE Employees set AadhaarNumber ='200904590' where EmployeeCode='94'
UPDATE Employees set AadhaarNumber ='199002552' where EmployeeCode='95'
UPDATE Employees set AadhaarNumber ='201002418' where EmployeeCode='96'
UPDATE Employees set AadhaarNumber ='200801352' where EmployeeCode='97'
UPDATE Employees set AadhaarNumber ='199408183' where EmployeeCode='98'

UPDATE Employees set AadhaarNumber ='199900264' where EmployeeCode='101'


*/
SELECT
/*

UPDATE Employees set FatherName ='ADMN' where EmployeeCode='1'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='2'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='3'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='4'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='6'
UPDATE Employees set FatherName ='TR' where EmployeeCode='7'
UPDATE Employees set FatherName ='TR' where EmployeeCode='9'
UPDATE Employees set FatherName ='TR' where EmployeeCode='10'
UPDATE Employees set FatherName ='TR' where EmployeeCode='11'
UPDATE Employees set FatherName ='CM' where EmployeeCode='12'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='14'
UPDATE Employees set FatherName ='CFA' where EmployeeCode='15'
UPDATE Employees set FatherName ='TR' where EmployeeCode='16'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='17'
UPDATE Employees set FatherName ='TR' where EmployeeCode='18'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='19'
UPDATE Employees set FatherName ='PLG' where EmployeeCode='20'
UPDATE Employees set FatherName ='PLG' where EmployeeCode='21'
UPDATE Employees set FatherName ='PLG' where EmployeeCode='22'
UPDATE Employees set FatherName ='CM' where EmployeeCode='24'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='25'
UPDATE Employees set FatherName ='PLG' where EmployeeCode='26'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='28'
UPDATE Employees set FatherName ='EB' where EmployeeCode='29'
UPDATE Employees set FatherName ='EB' where EmployeeCode='30'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='31'
UPDATE Employees set FatherName ='EB' where EmployeeCode='36'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='38'
UPDATE Employees set FatherName ='IFA' where EmployeeCode='39'
UPDATE Employees set FatherName ='EB' where EmployeeCode='41'
UPDATE Employees set FatherName ='CM' where EmployeeCode='42'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='43'
UPDATE Employees set FatherName ='TR' where EmployeeCode='44'
UPDATE Employees set FatherName ='PLG' where EmployeeCode='45'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='46'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='47'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='48'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='49'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='50'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='51'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='52'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='53'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='54'
UPDATE Employees set FatherName ='TR' where EmployeeCode='55'
UPDATE Employees set FatherName ='TR' where EmployeeCode='56'
UPDATE Employees set FatherName ='TR' where EmployeeCode='57'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='58'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='59'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='60'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='61'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='62'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='63'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='64'
UPDATE Employees set FatherName ='PGM' where EmployeeCode='65'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='68'
UPDATE Employees set FatherName ='EB' where EmployeeCode='69'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='70'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='71'
UPDATE Employees set FatherName ='TR' where EmployeeCode='72'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='73'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='76'
UPDATE Employees set FatherName ='DGM CM' where EmployeeCode='77'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='78'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='79'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='80'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='81'
UPDATE Employees set FatherName ='ADMN' where EmployeeCode='82'
UPDATE Employees set FatherName ='TR' where EmployeeCode='83'
UPDATE Employees set FatherName ='TR' where EmployeeCode='84'
UPDATE Employees set FatherName ='TR' where EmployeeCode='85'
UPDATE Employees set FatherName ='CASH' where EmployeeCode='86'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='88'
UPDATE Employees set FatherName ='S&M' where EmployeeCode='89'
UPDATE Employees set AadhaarNumber ='198900855' where EmployeeCode='91'
UPDATE Employees set AadhaarNumber ='199800574' where EmployeeCode='92'
UPDATE Employees set AadhaarNumber ='201100127' where EmployeeCode='93'
UPDATE Employees set AadhaarNumber ='200904590' where EmployeeCode='94'
UPDATE Employees set AadhaarNumber ='199002552' where EmployeeCode='95'
UPDATE Employees set AadhaarNumber ='201002418' where EmployeeCode='96'
UPDATE Employees set AadhaarNumber ='199408183' where EmployeeCode='98'
UPDATE Employees set AadhaarNumber ='199900264' where EmployeeCode='101'

*/






