
.container-bg {
	background-image: radial-gradient(circle, #b6d2fd, #cafda1, #fcd788, #fb8b69, #f93bd0);
	border-radius: 15px;
}
footer {
	/* position: fixed; */
	bottom:1px;
	background-color: lightgray;
}